.main__grid {
  display: grid;
  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr; 
  grid-gap: 15px;

  width: 700px;
  margin: 0 auto;

}
.main__content {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

@media screen and (max-width:575px){
  .main__grid {
      width: auto;
      display: inline;
  }
  
}
@media screen and (max-width:767px){
  .main__grid {
    width: auto;
    display: inline;
  }
  
}



