.nav {

    padding: 0px 15px 10px 15px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(255, 255, 255);
    

}

.arrow {
    display: flex;
    justify-content: center;
}
.arrow img {
    width: 40px;
    cursor: pointer;
}


.item__m {
    display: block;
    text-align: center;
    padding: 15px 75px;
    background-color: rgba(2, 83, 2, 0.767);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    margin: 20px 0px 20px 0px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 2px black;

}

.item__m:hover {
    color: rgb(2, 83, 2);
    background-color: rgb(255, 255, 255);
    transition: .5s;
}
.item__b {
    display: block;
    text-align: center;
    padding: 15px 75px;
    background-color: rgb(255, 230, 0, 0.767);
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    margin: 20px 0px 20px 0px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 2px black;


}
.item__b:hover {
    color: rgb(255, 230, 0);
    background-color: rgb(0, 0, 0);
    transition: .5s;

}


.item__mt {
    display: block;
    text-align: center;
    padding: 15px 75px;
    background-color: rgb(167, 19, 14);
    text-decoration: none;
    color: white;
    border-radius: 3px;
    margin: 20px 0px 20px 0px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    box-shadow: 1px 1px 2px black;

}
.item__mt:hover {
    color: rgb(167, 19, 14);
    background-color: rgb(255, 255, 255);
    transition: .5s;

    border: 1px solid rgb(167, 19, 14);
}

.title {
    text-align: center;
    font-weight: bold;

    color: rgb(83, 2, 2);




}